body {
  margin: 0;
}

.btn {
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 20px;
  padding: 5px 16px;
}

.animate {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
